<nav class="border-gray-200 dark:bg-gray-900 border-b">
    <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl p-4">
        <a href="https://flowbite.com" class="flex items-center space-x-3 rtl:space-x-reverse cursor-pointer">
            <img src="https://flowbite.com/docs/images/logo.svg" class="h-8 logo-glow" alt="Flowbite Logo" />
            <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white text-glow">Flowbite</span>
        </a>
        <div class="flex items-center space-x-6 rtl:space-x-reverse">
            <a href="#" class="text-sm dark:text-white hover:underline hover:text-green-500 cursor-pointer">Login</a>
            <a href="#" class="text-sm dark:text-white hover:underline hover:text-green-500 cursor-pointer">Registro</a>
        </div>
    </div>
</nav>
<nav class="bg-gray-50 dark:bg-gray-700">
    <div class="max-w-screen-xl px-4 py-3 mx-auto">
        <div class="flex items-center">
            <ul class="flex flex-row font-medium mt-0 space-x-8 rtl:space-x-reverse text-sm">
                <li>
                    <a routerLink="/"
                        class="text-gray-900 dark:text-white hover:underline hover:text-green-500 cursor-pointer"
                        aria-current="page">Home</a>
                </li>
                <li>
                    <a routerLink="/products"
                        class="text-gray-900 dark:text-white hover:underline hover:text-green-500 cursor-pointer">Productos</a>
                </li>
                <li>
                    <a routerLink="/carro"
                        class="text-gray-900 dark:text-white hover:underline hover:text-green-500 cursor-pointer">Carro</a>
                </li>
            </ul>
        </div>
    </div>
</nav>